<table>
<tr>
	<th>Pregunta</th>
	<th>Tema</th>
<tr>
<% var i; for(i=0;i<quizes.length;i++){ %>
<tr>
	<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
	<% if(session.user){%>
	<td><%= quizes[i].tema %></td>
	<td><a href="quizes/<%= quizes[i].id %>/edit"><button id="boton" >Editar</button></a></td>
	<td>
		<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
		<button type="submit" onclick="return confirm('Borrar la pregunta: <%= quizes[i].pregunta%>');" id="boton" >
		borrar
		</button>
		</form>
	</td>
	<%}%>
</tr>
<%}%>
<tr><td></br>
<form method="get" action="quizes">

<input type="submit" value="Buscar Pregunta" id="boton" />
<input type="text" name="search" size="13"/>
</form>

<% if(session.user){%>
	</tr></td>
		<tr><td>
			<a href="/quizes/new"><button type="button" id="boton" >  Crear pregunta  </button></a>
		</tr></td>
<%}%>
</table>